# Setting Host
HOST_APP = "127.0.0.1"
PORT_APP = 8000

# Database Connection   
DB_DRIVER = "postgres"
DB_SCHEME = "postgresql"
DB_SERVER = "localhost"
DB_USERNAME = "postgres"
DB_PASSWORD = ""
DB_NAME = "fastfest"
DB_PORT = 5432